include partials/header.pug
    title Bienvenue sur la page de Flecleglagnan
body
    br
    .container
        .row
            a.btn.btn-primary(href='/') Accueil 
            a.btn.btn-success(href='/legume' role='button') Légumes
            