include partials/header.pug
    title Bienvenue sur legume

body
    .container-fluid
        .row
            
            a.btn.btn-primary(href='/') Accueil 
        
        .row
            .col-sm-6.col-sm-offset-3
                h1 bienvenue sur les legumes
